@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a, p, button{
    font-family: "Raleway";
}

header{
	margin-top: -72px;
	position: relative;
}
#img{
	background-image: url("../PortfolioProject/portfolio_setup-master/images/headerback.jpg"); 
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
}

nav{
	background-color: orange;
	height: 38px;
}

nav div a{
	text-decoration: none;
	color: white;
	padding: 5px;
}

.nav1, .nav2{
	align-self: center;
}

.nav2{
	width: auto;
	justify-content: space-between;
}


.flex-column{
	justify-content: flex-end;
	width: 30%;
}

.p-2 {
    padding: 0.2rem!important;
}

.overlay{
	position: absolute;
	top: 30%;
	left: 20%;
	width: 560px;
}

.textOverlay{
	color: orange;
	opacity: 1.0;
	font-size: 23px;
	margin-bottom: 1px;
}

.textOverlay2{
	margin-bottom: 1px;
}

.textOverlay3 button{
	background-color: orange;
	color: white;
	border-radius: 5px;	
	font-size: 13px;
	padding: 10px;
	border: 0px ;
}


#about{
	background-color: rgb(232,232,232);
	height: 100vh;
}

#aboutMe{
	font-size: 22	px;
	padding: 65px;
	border-right: 1px solid blue;	
}

#face1{
	border-radius: 50%;
	margin-right: 58px;
}

#aboutMe{
	text-align: center;
	color: orange;
}
.main{
	position: absolute;
	left: 24%;
	width: 50%;
	margin-right: auto;
}

